.alumni-padx{
  padding-left: 20% !important;
  padding-right: 20% !important;
}

.alumni-title-base{
  font-size:1.5rem;
  font-family:Anton;
  letter-spacing:2px;
  color:#DAE1E7;
}
.alumni-title-base-2{
  font-size:1.35rem;
  font-family:Anton;
  letter-spacing:2px;
  color:#BDBDBD;
}

.alumni-bold-text-base{
  font-family:Anton;
  font-size:1.25rem;
  letter-spacing:2px;
  color:#FFFFFF;
}
.alumni-light-text-base{
  font-family:Inter;
  font-size:1rem;
  color:#FFFFFF;
}

.alumnipage-content{
  margin-top: -6rem;
  background: #1E2021;
}

.footer-transition{
  background: -webkit-linear-gradient(rgba(56, 23, 82, 0), rgba(56, 23, 82, 1));
}

/* ## HEADER ## ================================================================= */
.alumni-container-header {
    position: relative;
    text-align: center;
    color: white;
}

.alumni-title-header,.alumni-text-header{
  position: absolute;
  left:50%;
  transform: translate(-50%, -50%);
  background: -webkit-linear-gradient(#2C527E, #37F3FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family:Anton;
}

.alumni-title-header {
    top: 60%;
    letter-spacing: 10px;
    font-size: 25px;
}

.alumni-text-header {
    top: 80%;
    font-weight:100;
    letter-spacing: 2px;
    font-size:9px
}

/* ## SECTION-1 ## ================================================================= */
.alumni-section-1{
  text-align:center
}

.alumni-section-1-subtitle{
  background: -webkit-linear-gradient(#2C527E, #37F3FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alumni-wucg-img-container{
  background-image: 
  url("../public/alumni/bg-alumni-top4-min.webp");
  background-repeat: round;
}

.alumni-section-1-img{
  width:75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 4px #37F3FF;
}
.alumni-section-1-credit p{
  font-family:Inter;
  font-size:0.75rem;
}
.alumni-achievement-number-box{
  width:75%;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, #2C527E, #37F3FF);
  display:flex;
  justify-content:space-around;
}

.alumni-achievement-item-container{
  width:33%;
  font-family:Anton;
  letter-spacing:1px;
  padding-top:0.5rem;
  padding-bottom:0.6rem;
  font-size:0.5rem;
}

.alumni-achievement-item-number{
  font-size:1.3rem;
}

/* ## SECTION-2 ## ================================================================= */
.alumni-section-2{
  background-image: linear-gradient(rgba(24,41,75, 1),rgba(24,41,75, 0));
}

.alumni-fact-pack{
  width:100%;
}

.alumni-fact-pack-title-left, .alumni-fact-pack-title-right{
  color:#DAE1E7;
}

.alumni-fact-pack-data-right,.alumni-fact-pack-data-left{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items:center;
}
.alumni-fact-pack-data-left{
  flex-direction:column-reverse;
}

.alumni-fact-pack-title-left, .alumni-fact-pack-title-right
,.alumni-fact-pack-text-right,.alumni-fact-pack-text-left ,.alumni-fact-pack-photo{
  width:100%;
  text-align:center;
  margin-bottom: 1.25rem;
}

.alumni-fact-pack-text-right,.alumni-fact-pack-text-left ,.alumni-fact-pack-photo{
  width:100%;
}

/* .alumni-fact-pack-photo img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

/* ## SECTION-3 ## ================================================================= */
.alumni-event-container{
  background-image: linear-gradient(rgba(100, 25, 159, 0), rgba(100, 25, 159, 1), rgba(100, 25, 159, 0));
}

.alumni-event-card-left, .alumni-event-card-right{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  margin-top:1.5rem;
  margin-bottom:3.5rem;
  text-align:center
}
.alumni-event-card-right{
  flex-direction:column-reverse;
}

.alumni-event-img-container, .alumni-event-data{
  width:100%;
}

.alumni-event-data{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.alumni-event-img-left, .alumni-event-img-right{
  width:65%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:1.5rem; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ## SWIPER-TRANSITION ## ================================================================= */
.alumni-section-4-transition .swiper-slide{
  max-height:max-content;
  max-width:600px !important;
}
.swiper-slide img{
  height: auto;
  object-fit: cover;
  width:17.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ## SECTION-4 ## ================================================================= */
.alumni-section-4{
  display:flex;
  flex-direction:column;
  text-align:center;
  margin-top:5rem;
}
.alumni-section-4-card{
  width: 100%;
}

.alumni-section-4-title-left{
  margin-bottom:2rem;
}

.alumni-section-4-title-right{
  font-family:Anton;
  -webkit-text-stroke: 1px #DAE1E7;
  color: transparent;
  font-size:5rem;
}
.alumni-section-4-text-right{
  font-family:Inter;
  font-size:1.25rem;
  font-weight:200;
  letter-spacing:2px;
}

/* ## TRANSITION-SECTION-5 ## ================================================================= */
.alumni-section-5-transition{
  background-image: linear-gradient(to bottom right, #2C527E, #37F3FF);
  margin-top:5rem;
  padding-top:3.5rem;
  padding-bottom:3.5rem;
  text-align:center;
}
.alumni-section-5-transition h1{
  margin-bottom:2rem;
}

/* ## SECTION-5 ## ================================================================= */
.alumni-section-5{
  margin-top:5rem;
}
.alumni-section-5-title{
  text-align:center;
}

.alumni-mission-container{
  border-bottom: solid #DAE1E7 1px;
  display:flex;
  flex-direction:column;
  padding-top:4rem;
}
.alumni-mission-card-container{
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.alumni-mission-card{
  width:100%;
  text-align:center;
  margin-bottom:4rem;
}

/* ## RESPONSIVE ## ================================================================ */
@media screen and (min-width: 320px){
  .alumni-title-header {
    font-size: 35px;
  }
  .alumni-achievement-item-number{
    font-size:1.5rem;
  }
  .alumni-achievement-item-container{
    font-size:0.5rem;
  }
}

@media screen and (min-width: 446px) {
  .alumni-title-header {
    font-size: 45px;
    top:55%
  }
  .alumni-text-header {
    top:75%;
    font-size: 12px;
    letter-spacing: 4px;
  }
  .alumni-achievement-item-number{
    font-size:2rem;
  }
  .alumni-achievement-item-container{
    font-size:0.75rem;
  }
}

@media screen and (min-width: 473px){
  .alumni-title-header {
    font-size: 30px;
    top:75%
  }
  .alumni-text-header {
    top:90%;
    letter-spacing: 4px;
  }
  .alumni-achievement-item-container{
    padding-top:1rem;
    padding-bottom:1rem;
  }
  .alumni-achievement-item-number{
    font-size:2.2rem;
  }
}

@media screen and (min-width: 600px) {
  .alumni-title-base{
    font-size:2rem;
  }
  .alumni-title-base-2{
    font-size:1.6rem;
  }
  .alumni-title-header,.alumni-text-header {
    left:3%;
    transform: translate(0,0);
  }
  .alumni-text-header {
    font-size:10px;
  }
  .alumni-achievement-item-container{
    font-size:1rem;
  }
  .alumni-achievement-item-number{
    font-size:2.5rem;
  }
  .alumni-event-card-left, .alumni-event-card-right{
    flex-direction:row;
    text-align:start;
  }

  .alumni-event-img-container, .alumni-event-data{
    width:50%;
  }
  .alumni-event-data{
    width:55%;
  }
  .alumni-event-img-left, .alumni-event-img-right{
    width:75%;
    margin:0;
  }
  .alumni-event-img-right{
    margin-left:auto;
  }
  .swiper-slide img{
    width:20rem;
  }
}

@media screen and (max-width: 600px){
  .alumni-section-1-img, .alumni-achievement-number-box{
    width: 100%;
  }

  .alumni-padx{
    padding: 0 5% !important;
  }
}

@media screen and (min-width: 720px) {
  .alumni-title-header {
    font-size: 40px;
  }
  .alumni-fact-pack-data-left, .alumni-fact-pack-data-right{
    flex-direction:row;
    align-items:flex-start;
  }

  .alumni-section-4{
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;
    text-align:start;
    margin-top:8rem;
  }
  .alumni-section-4-card{
    width: 45%;
  }
  .alumni-section-4-title-left{
    margin-bottom:4rem;
  }
  .alumni-fact-pack-text-right,.alumni-fact-pack-text-left ,.alumni-fact-pack-photo{
    width:45%;
  }
  .alumni-fact-pack-title-right,.alumni-fact-pack-text-right {
    text-align: right !important;
  }
  .alumni-fact-pack-title-left,.alumni-fact-pack-text-left {
    text-align: left !important;
  }
  .alumni-achievement-item-number{
    font-size:3rem;
  }
  .alumni-mission-card-container{
    flex-direction:row;
  }
  .alumni-mission-card{
    width:45%;
    text-align:start;
  }
}

@media screen and (min-width: 920px){
  .alumni-achievement-item-number{
    font-size:3.5rem;
  }
  .alumni-wucg-img-container{
    background-image: 
    url("../public/alumni/bg-alumni-top4-max.webp");
    background-repeat: round;
  }
  .swiper-slide img{
    width:24rem;
  }
}

@media screen and (min-width: 1080px){
  .alumni-bold-text-base{
    font-size:1.75rem;
  }
  .alumni-title-header {
    font-size:50px;
  }
  .alumni-text-header {
    font-size:12px
  }
  .alumni-achievement-item-number{
    font-size:4rem;
  }
  .alumni-section-4-text-right{
    font-size:1.5rem;
  }
}

@media screen and (min-width: 1280px){
  .alumni-light-text-base{
    font-size:1.2rem;
  }
  .alumni-title-header {
    font-size: 70px;
  }
  .alumni-text-header {
    font-size:15px
  }
  .swiper-slide img{
    width:28rem;
  }
}

@media screen and (min-width: 1600px) {
  .alumni-bold-text-base{
    font-size:2rem;
  }
  .alumni-light-text-base{
    font-size:1.3rem;
  }
  .alumni-title-header {
    font-size: 75px;
  }
  .alumni-text-header {
    font-size:20px
  }
  .alumni-fact-pack{
    margin-bottom:1rem;
  }
  .alumni-section-4-text-right{
    font-size:1.75rem;
  }
  .swiper-slide img{
    width:38rem;
  }
}


