@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-page {
    width:100vw;
    height:100vh;
    background-image: linear-gradient(to bottom,rgba(0,0,0, 1),rgba(0, 0, 0, 0.25)),
    url("../public/auth-background.webp");
    background-repeat: no-repeat;
   }

.authbox-header{
    display:flex ;
}

.authheading{
    background: -webkit-linear-gradient(left,#5E3580, #FF00D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.authsubmitbutton{
    background-image: linear-gradient(to right,rgba(94,53,128, 1),rgba(255, 0, 214, 1));
}

.authsubmitbutton:hover{
    background-image: linear-gradient(to right,rgba(70,30,100, 1),rgba(230, 0, 190, 1));
}

/*Auth-Checkbox and remember-me*/
.forgot-pass-container{
    margin-left:auto;
}

.auth-link:hover{
    color:#FF00D6 !important; 
}
.auth-link:hover> .span-space{
    margin-right:2px;
}

.auth-checkbox-container {
    display: flex;
    align-items: center;
}

.auth-checkbox-container label {
    margin-top:0.15rem;
    cursor: pointer;
    display: flex;
    font-size:0.75rem;
}

.auth-checkbox-container input[type='checkbox'] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.auth-checkbox-container label::before {
    content: '';
    width: 1rem;
    height: 1rem;
    margin-right: .5em;

    border: .1em solid ;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #743ad5, #d53a9d);
}

.auth-checkbox-container label:hover::before,
.auth-checkbox-container input[type='checkbox']:hover + label::before {
    background:transparent;
}

.auth-checkbox-container input[type='checkbox']:disabled + label,
.auth-checkbox-container input[type='checkbox']:disabled {
    cursor: default;
}

.auth-checkbox-container input[type='checkbox']:checked + label::before {
    content: '\002714';
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF00D6;
}

.auth-checkbox-container input[type='checkbox']:checked + label{
    background: -webkit-linear-gradient(left,#5E3580, #FF00D6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logout-button-container{
    width: 100%;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.confirm-button, .reject-button{
    height: 3.5rem;
    width: 8rem;
}

.confirm-button{
    background:linear-gradient(100.05deg, #2A4A70 0%, #5d910b 100%) !important;
}

.confirm-button:hover{
    background:linear-gradient(100.05deg, #3d6aa1 0%, #5d910b 100%) !important;
}

.reject-button{
    background: linear-gradient(100.05deg, #612D2A 0%, #FF0D01 100%) !important;
}

.reject-button:hover{
    background: linear-gradient(100.05deg, #8f433f 0%, #FF0D01 100%) !important;
}


