@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.ml-card-container, .pubgm-card-container,.dota2-card-container, .valorant-card-container{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.right-team-name{
    margin: 7rem 5rem 0 0;
    font-size: clamp(2rem, 5vw ,4rem);
    display: none;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
}

.ml-team-name{
    margin: 5rem 5rem 0 0;
    font-size: clamp(2rem, 5vw ,4rem);
    display: none;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    text-align: center;
}

.left-team-name{
    margin: 7rem 0 0 5rem;
    font-size: clamp(2rem, 5vw ,4rem);
    display: none;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
}

.card-image-mobile{
    width: min(30rem, 80%);
    min-height: auto;
}

.right-card-image{
    display: none;
    margin: 0 0 0 10rem;
    width: min(30rem, 80%);
    min-height: auto;
}

.left-card-image{
    display: none;
    margin: 0 10rem 0 0;
    width: min(30rem, 80%);
    min-height: auto;
}

.dota2-card-container::before{
    z-index: -1;
    content: "";
    color: white;
    position: absolute;
    top: 15%;
    display: inline-block;
    width: min(80%,70rem);
    height: 15rem;
    background: linear-gradient(100.05deg, #2A4A70 0%, #B8FF45 100%);
}

.ml-card-container::before{
    z-index: -1;
    content: "";
    color: white;
    position: absolute;
    top: 16%;
    display: inline-block;
    width: min(80%,70rem);
    height: 15rem;
    background: linear-gradient(100.05deg, #5E3580 0%, #FF00D6 100%);
}

.pubgm-card-container::before{
    z-index: -1;
    content: "";
    color: white;
    position: absolute;
    top: 15%;
    display: inline-block;
    width: min(80%,70rem);
    height: 15rem;
    background: linear-gradient(100.05deg, #2C527E 0%, #37F3FF 100%);
}

.valorant-card-container::before{
    z-index: -1;
    content: "";
    color: white;
    position: absolute;
    top: 16%;
    display: inline-block;
    width: min(80%,70rem);
    height: 15rem;
    background: linear-gradient(100.05deg, #5E3580 0%, #FF00D6 100%);
}

.dota2-card-container::after{
    content: "DOTA 2";
    position: absolute;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 6vw;
    top: 65%;
}

.valorant-card-container::after{
    content: "VALORANT";
    position: absolute;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 6vw;
    top: 65%;
}

.ml-card-container::after{
    content: "Mobile Legends";
    position: absolute;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 6vw;
    top: 65%;
}

.pubgm-card-container::after{
    content: "PUBGM";
    position: absolute;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 6vw;
    top: 65%;
}

@media screen and (max-width: 1164px) {
    .ml-card-container::before, .dota2-card-container::before, .valorant-card-container::before{
        width:min(30rem, 80%);
        height: 80%;
    }

    .pubgm-card-container::before{
        height: 69%;
        width:min(30rem, 80%);
    }
}

@media screen and (min-width: 1165px) {
    .ml-card-container::after, .pubgm-card-container::after, .dota2-card-container::after  ,.valorant-card-container::after, .card-image-mobile{
        display: none;
    }

    .ml-team-name, .right-card-image,.left-card-image, .left-team-name, .right-team-name{
        display: inline;
    }
}