@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body, html {
  height: 100%;
}

.carousel-status {
  display: none;
}

.carousel .thumbs-wrapper {
  display: none;
}

.imageCarousel {
  /* position: relative; */
  background-size: cover;
}

.imageCarousel .plainText{
  max-width: 75%;
}

.imageCarousel .mobile-image{
  display: none;
}

.imageCarousel img {
  filter: grayscale(40%);
  background: linear-gradient(
    0deg,
    rgba(30, 32, 33, 1) 26%,
    rgba(21, 23, 24, 0.01) 100%
  );
  background-size: cover;
}

.overlay1{
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  font-size: 2em;
  text-align: justify;
  background: linear-gradient(180deg, rgb(13, 14, 14) 4%, rgba(0, 0, 0, 0.01) 58%);
}

.overlay2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  font-size: 2em;
  text-align: justify;
  background: linear-gradient(
    0deg,
    rgba(30, 32, 33, 1) 26%,
    rgba(21, 23, 24, 0.01) 100%
  );
}

.textOverlay {
  color: #ffffff;
  position: absolute;
  bottom: 15%;
  min-height: 10%;
  margin-left: 6em;
  margin-right: 6em;
  text-align: justify;
}

.textOverlay .head1 {
  font-family: "Anton", sans-serif;
  font-size: clamp(2rem, 7vw, 4rem);
  background: -webkit-linear-gradient(#2A4A70, #B8FF45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -0.1em;
}

.textOverlay .head2 {
  font-family: "Anton", sans-serif;
  font-size: clamp(2rem, 7vw, 4rem);
  background: -webkit-linear-gradient(#2C527E, #37F3FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -0.1em;
}

.textOverlay .head3 {
  font-family: "Anton", sans-serif;
  font-size: clamp(2rem, 7vw, 4rem);
  background: -webkit-linear-gradient(#5e3580, #ff00d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: -0.1em;
}

.textOverlay .subhead {
  font-family: "Anton", sans-serif;
  font-size: clamp(0.5rem, 2vw, 2rem);
  margin-bottom: 0.4em;
}

.textOverlay .plainText {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: clamp(0.5rem, 2vw, 0.8rem);
}
.announcement {
  background-color: #1e2021;
  position: relative;
}

@media only screen and (max-width: 992px) {
  .imageCarousel {
    /* position: relative; */
    background-size: cover;
  }

  .textOverlay {
    bottom: 15%;
    min-height: 15%;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .textOverlay .head {
    font-size: 2rem;
  }
  
  .textOverlay .subhead {
    font-size: 1rem;
  }
  
  .textOverlay .plainText {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .imageCarousel .mobile-image{
    display: initial;
  }

  .imageCarousel .desktop-image{
    display: none;
  }

  .textOverlay .head {
    text-align: center;
  }
  
  .textOverlay .subhead {
    text-align: center;
  }
  
  .textOverlay .plainText {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
  }
}