@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    min-height: 100vh;
    font-size: 16px !;
}

.changepassword-container{
    position: relative;
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    color: #DAE1E7;
    width: 100%;
    background-color: #1E2021 ;  
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 2rem;
    padding-top: 4rem;
}

.changepassword-container .footer-transition{
    position: absolute;
    bottom: 0;
    top: auto;
    width: 100%;
}

.changepassword-container input[id^="passwordRadio"]{
    display: none;
}

.changepassword-container [id^="password-profile-show"]{
    display: none;
}

@media only screen and (max-width:600px){
    .changepassword-container{
        margin-top: -4rem;
        padding-top: 6rem;
    }
}