.customError-container {
    background-image: url("../public/customError-background.webp");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    background-color: black;
}

.customError-wrapper{
    width: 100%;
    height: 100%;
}

.customError-content{
    width: 20rem;
    max-height: 32rem;
    text-align: center;
    position: absolute;
    background-color: #1E2021;
    padding: 2rem 2.5rem;
    left: 0; 
    right: 0; 
    top: 20%;
    margin-left: auto; 
    margin-right: auto;
    border-left: 2px solid #FF00D6;
}

.customError-hero {
    width: 18rem;
}
.customError-title{
    padding: 0,5rem;
    font-size: 1.25rem;
}

.customError-explain {
    padding-bottom: 0,5rem;
    font-size: 0.75rem;
}

.customError-btn {
    background: #172A52;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
}

.customError-btn:hover {
    background: white;
    color: #172A52;
    transition-timing-function: ease;
}

.customError-footerTransition{
    background: -webkit-linear-gradient(rgba(56, 23, 82, 0), rgba(56, 23, 82, 1));
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

@media screen and (max-width: 1150px){
    .customError-background{
        object-fit: contain;
        object-position: center;
    }

    .customError-title{
        font-size: clamp(1rem, 5vw ,1.25rem);
    }

    .customError-explain{
        font-size: clamp(0.5rem, 3vw ,0.75rem);
    }

    .customError-content{
        width:min(20rem, 100%);
        height: auto;
        padding: 2rem 2.5rem;
    }

    .customError-explain {
        padding-bottom: 0,5rem;
    }
    
    .customError-btn{
        font-size: clamp(0.5rem, 3vw ,0.8rem);
        padding: 12px 24px;
    }
}