@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.footer-container{
    background-color: #2A4A70;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: white;
    align-items: center;
    padding: 2rem;
}

.footer-container a, .footer-container:hover a{
    color: white;
    text-decoration: none;
}

.footer-content-container{
    padding: 0 1rem;
}

.footer-title, .footer-social-media-container, .footer-profile,.footer-events{
    padding: 0 0 .5rem 0;
}

.footer-title{
    font-size: 1.5rem;
    font-weight: 900;
}

.footer-socialmedia-icon{
    margin: 0 1rem 0 0;
}

.footer-image-logo{
    width: 4rem;
    height: auto;
}

.footer-social-media-container{
    display: flex;
}

.footer-socialmedia-icon img{
    width: 2rem;
    height: auto;
}

@media screen and (max-width:579px){
    .footer-container{
        flex-direction: column;
        background-color: #2A4A70;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        color: white;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        text-align: center;
    }

    .footer-socialmedia-container{
    }

    .footer-socialmedia-icon{
        margin: 0 auto;
    }

}