@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    min-height: 100vh;
    font-size: 16px !;
}

.bg-purple{
    background: -webkit-linear-gradient(#5e3580, #ff00d6);
}

.form-container{
    max-width: fit-content;
    width: 80%;
}

.profile-container {
    font-family: "Inter", sans-serif;
    color: #DAE1E7;
    width: 100%;
    background-color: #1E2021 ;  
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 2rem;
    padding-top: 4rem;
}

.photo-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.photo-container label{
    cursor: pointer;
}

.photo-container input{
    display: none;
}

.profile-container .spinner{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#passwordRadio{
    display: none;
}

#password-profile-show{
    display: none;
}

.passwordLabel{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.password-radio-icon{
    object-fit: cover;
    aspect-ratio: 1;
    width: 2rem;
}

@media only screen and (max-width:600px){
    .profile-container{
        margin-top: -4rem;
        padding-top: 6rem;
    }
}
