.completion-modal .modal-content{
    background-color: #1E2021;
    color: white;
    border-radius: 0;
}

.completion-modal .modal-header{
    border-bottom: 2px solid black;
}

.completion-modal .modal-footer{
    border-top: 0;
}

.completion-modal .btn-close{
    background: transparent;
}

.completion-modal .primary-btn{
    background: linear-gradient(100.05deg, #5E3580 0%, #FF00D6 100%);
    border-width: 0;
    border-radius: 0;
}

.completion-modal .secondary-btn{
    border-width: 0;
    border-radius: 0;
}

@media screen and (max-width: 600px) {
    .landingpage-content{
        margin-top: -6rem;
    }
}