@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.navbar-mobile{
    display: none;
}

.navbar-mobile{
    display: none;
}

.navbar-desktop{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.image-logo img{
    width: 2rem;
    height: auto;
}

.navbar-list{
    list-style: none;
    text-decoration: none;
    display: flex;    
}

.navbar-item{
    padding: 0 1rem;
    color: #828282;
    font-weight: bold;
}

.navbar-item a{
    color: #828282;
    text-decoration: none;
}

.navbar-login-button{
    color: #828282;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}

.navbar-login-button::after{
    width: 0rem;
    content: "";
    height: .2rem;
    background: linear-gradient(to bottom, rgba(94, 53, 128, 1), rgba(255, 0, 214, 1));
    position: absolute;
    align-items: center;
    top: 1.5rem;
    left: 0;
    transition: .3s ease;
}

.navbar-login-button:hover{
    color: white !important;
    transition: .3s ease;
}

.navbar-login-button:hover::after{
    width: 2.9rem;
    content: "";
    height: .2rem;
    background: linear-gradient(to bottom, rgba(94, 53, 128, 1), rgba(255, 0, 214, 1));
    position: absolute;
    align-items: center;
    top: 1.5rem;
    left: 0;
}

.navbar-home::after{
    width: 0rem;
    content: "";
    height: .2rem;
    background: linear-gradient(to bottom, rgba(94, 53, 128, 1), rgba(255, 0, 214, 1));
    position: absolute;
    align-items: center;
    top: 1.5rem;
    left: 20%;
    transition: .3s ease;
}

.navbar-database::after{
    width: 0rem;
    content: "";
    height: .2rem;
    background: linear-gradient(to bottom, rgba(94, 53, 128, 1), rgba(255, 0, 214, 1));
    position: absolute;
    align-items: center;
    top: 1.5rem;
    left: 15%;
    transition: .3s ease;
}

.navbar-item:hover {
    transition: .3s ease;
}

.navbar-item:hover a{
    color: white !important;
}

.navbar-profile-photo img{
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1;
    width: 2.5rem;
}

.dropdown-item:hover{
    background: linear-gradient(100.05deg, #5E3580 0%, #FF00D6 100%);
}

.dropdown-item a, .dropdown-item:hover a{
    color: #dee2e6;
    text-decoration: none;
}

.navbar-profile-photo{
    cursor: pointer;
}

.navbar-item {
    display: flex;
    flex-direction: column;
}

.navbar-line {
    width: 0;
    height: 0.3rem;
    background: linear-gradient(to bottom, rgba(94, 53, 128, 1), rgba(255, 0, 214, 1));
    transition: ease-in-out;
    transition-duration: 0.15s;
}

.navbar-container {
    height: 0;
}

.expand {
    width: 100% !important;
}

.active a {
    color: white !important;
}

@media screen and (max-width: 473px) {
    .navbar-desktop{
        display: none;
    }
}