.nav-mobile {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
    transition: all 0.3s ease;
}

.nav-mobile.black {
    background-color: #1E2021;
}

.nav-mobile.transparent {
    background-color: transparent;
}

.hamburger-mobile {
    display: flex;
    flex-direction: column;
    z-index: 99999;
    cursor: pointer;
}

.hamburger-mobile span {
    background-color: white;
    margin-bottom: 3px;
    height: 5px;
    position: relative;
    transition: all .3s ease;
}

.hamburger-mobile .span1 {
    width: 25px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamburger-mobile .span2 {
    width: 12px;
}

.hamburger-mobile .span3 {
    width: 18px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamburger-mobile.active .span1 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamburger-mobile.active .span2 {
    width: 0;
    opacity: 0;
}

.hamburger-mobile.active .span3 {
    -webkit-transform: rotate(-45deg) translateY(1px) translateX(-1px);
    -moz-transform: rotate(-45deg) translateY(1px) translateX(-1px);
    -o-transform: rotate(-45deg) translateY(1px) translateX(-1px);
    transform: rotate(-45deg) translateY(1px) translateX(-1px);
    width: 25px;
}


/* Nav Menu */
.nav-menu-mobile {
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #381752;
    max-width: 400px;
    width: 100%;
    transform: translateX(-100%);
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
}

.nav-menu-mobile.active {
    transform: translateX(0);
}

.nav-mobile .header-logo {
    border-bottom: 1px solid #BDBDBD;
    margin-top: 75px;
    padding: 0 0 10px 20px;
}

.nav-mobile .header-logo span {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 39px;
}

/* Nav Item */

.nav-mobile .nav-item {
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: .8rem;
    line-height: 39px;
    padding: 5px 0 5px 30px;
    margin: 10px 0;
    cursor: pointer;
}

.nav-mobile .nav-item:hover {
    color: black;
    background-color: white;
    transition: 0.2s;
}

.nav-mobile .nav-item.active {
    border-right: 4px solid white;
}

.nav-mobile .nav-item .title {
    margin-left: 15px;
}


/* Reminder box */
.nav-mobile .bottom-box {
    color: white;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
}
.nav-mobile .bottom-box .reminder-box {
    background-color: #1E2021;
    max-width: 350px;
    width: 100%;
    padding: 10px;
}

.nav-mobile .reminder-box {
    border-left: 5px solid #5E3580;
}

.nav-mobile .reminder-box .reminder-chirps {
    font-size: .8rem;
    background-color: #CBAA1E;
    border-radius: 15px;
    width: 100px;
    margin: 5px 0 0 10px;
}

.nav-mobile .reminder-box .reminder-text {
    font-size: .8rem;
    line-height: 20px;
    text-align: left;
    padding: 0 15px;
    margin: 10px 0 0 0;
    max-width: 350px;
    font-family: 'Roboto';
    font-weight: 500;
}

.nav-mobile .reminder-box.hide {
    display: none !important;
}


.nav-mobile .reminder-box .fill-later {
    background-color: transparent;
    text-decoration: underline;
    font-size: 0.8rem;
    font-family: 'Roboto';
    font-weight: 400;
    margin-right: 20px;
}
.nav-mobile .reminder-box .fill-now {
    background-color: #381752;
    font-size: 0.8rem;
    padding: 10px 30px;
    box-shadow: 0px 4.71429px 4.71429px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-weight: 400;
}

.nav-mobile .reminder-box .fill-now a {
    text-decoration: none;
}



/* Profile box */
.nav-mobile .profile-box {
    max-width: 350px;
    width: 100%;
    padding: 10px;
}

.nav-mobile .profile-box .profile-info-wrapper:hover {
    cursor: pointer;
}

.nav-mobile .profile-box .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
}

.nav-mobile .profile-box .user-info {
    width: 66%;
    margin-left: 16px;
}

.nav-mobile .profile-box .user-info .full-name{
    font-size: 14px;
    line-height: 16px;
}

.nav-mobile .profile-box .user-info .username{
    font-size: 12px;
}

.nav-mobile .profile-box .logout-button {
    padding: 10px;
}

.nav-mobile .profile-box .logout-button:hover {
    background-color: #530C8A;
    transition: .2s;
    border-radius: 5px;
    cursor: pointer;
}


/* Login box */
.nav-mobile .login-box {
    margin: auto 0 10px 30px;
    padding: 0 0 50px 0;
}

.nav-mobile .login-box a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'Inter';
    font-weight: 700;
    color: #BDBDBD;
}

@media (min-width: 600px) {
    .nav-mobile {
        display: none;
    }
}
