@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.teams-container{
    background-color: #172a52;
    z-index: -1;
    position: relative;
    padding:1rem 0;
}

.topTransition img, .thunderTransition img{
    width: 100%;
    display: flex;
    pointer-events: none;
}

.teams-container::before{
    content: "OUR TEAMS";
    position: absolute;
    font-family: 'Anton', sans-serif;
    transform: rotate(90deg);
    top: 25%;
    left: -5rem;
    z-index: -1;
    font-size: 13rem;
    color: #132345;
    text-shadow: -1px 1px 0 #5E3580,
    1px 1px 0 #5E3580,
   1px -1px 0 #5E3580,
  -1px -1px 0 #5E3580;
}

@media only screen and (max-width:1476px){
    .teams-container::before{
        left: -18rem;
    }
}

@media only screen and (max-width:586px){
    .teams-container::before{
        display: none;
    }
}