@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.container-profile{
    font-family: 'Inter';
    background: #381752;
    color: white;
    width: 100%;
    height:min(30rem);
    text-align: center;
    padding: 7.5rem ;  /* half width */
}

.container-profile a, .container-profile:hover a{
    color: white;
    text-decoration: none;
}


.title-profile{
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.text-profile {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: 'Inter', sans-serif;
}

.btn-profile {
    background: linear-gradient(100.05deg, #5E3580 0%, #FF00D6 100%);
    padding: 15px 32px;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 1150px) {
   /* mobile ver */
   .container-profile{
    font-family: 'Inter';
    background: #381752;
    color: white;
    width: 100%;
    height:80%;
    text-align: center;
    padding: 5rem ;  /* setengah width */
    }
    .title-profile{
        font-size: clamp(1rem, 5vw ,2.5rem);
        display: absolute;
    }
    .text-profile {
        font-size: clamp(0.5rem, 3vw ,1.25rem);
        display: absolute;
    }   

    .btn-profile {
        font-size: clamp(0.5rem, 3vw ,1rem);
        padding: 10px 24px;
    }
}