
.productshowcase-page{
    background: #1E2021;

}
/* Header ============================================== */
.productshowcase-header{
    position:relative;
    margin-bottom:3vw;
    overflow:hidden;
}

.productshowcase-header-background{
    /* height:1000px; */
    background: white;
    width:auto;
    height:984px;
    overflow:hidden;
}

.productshowcase-header-rectangle{
    width: 262px;
    background: white;
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:1;
}
.productshowcase-header-text{
    text-align:center;
    z-index:2;
    position:absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.productshowcase-header-text > h1{
    font-family:Anton;
    font-size:132px;
}
.productshowcase-header-text > h1 > span{
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
.productshowcase-header-text > p{
    font-family:Inter;
    font-size:24px;
    padding:0 7rem;
}

.productshowcase-header-img{
    position:absolute;
    transform: translate(-50%, -50%);
}
.productshowcase-header-img-1{
    width: 40vw;
    min-width:500px;
    top: 60%;
    left: 8%;
}
.productshowcase-header-img-2{
    width: 276px;
    top: 30%;
    left: 25%;
}
.productshowcase-header-img-3{
    width: 587px;
    top: 32%;
    left: 87%;
}
.productshowcase-header-img-4{
    width: 245px;
    top: 68%;
    left: 87%;
}

/* Header Card */
.productshowcase-header-card-container{
    padding:1.5rem 8vw;
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.productshowcase-header-card{
    width: 23%;
    height:auto;

}


/* section-1 =========================================== */
.productshowcase-section-1{
    padding:1.5rem 8vw;
    display:block;
}

/* card ================================================ */
.productshowcase-card-bg-blue{background-image: linear-gradient(100.05deg, rgb(44, 82, 126) 0%, rgb(55, 243, 255) 100%);}
.productshowcase-card-bg-green{background-image: linear-gradient(100.05deg, rgb(42, 74, 112) 0%, rgb(184, 255, 69) 100%);}
.productshowcase-card-bg-pink{background-image: linear-gradient(100.05deg, rgb(94, 53, 128) 0%, rgb(255, 0, 214) 100%);}
.productshowcase-card-bg-purple{background-image: linear-gradient(100.05deg, rgb(94, 53, 128) 0%, rgb(255, 0, 214) 100%);}

.productshowcase-card{
    width:100%;
    height:21vw;
    margin:1.5rem 0;
    display:flex;
}

.productshowcase-card-text-part{
    /* background:red; */
    width:55%;
    padding:3vw 0 3vw 3vw;
}

.productshowcase-card-text-title{
    font-size:3.05vw;
    font-weight:bolder;
    font-family:Anton;
}

.productshowcase-card-text-desc{
    font-size:0.8vw;
    font-family:Inter;
}

.productshowcase-card-text-button{
    background:transparent;
    border:white 1px solid;
    padding: 0.25vw 0.75vw 0.25vw 0.75vw;
    font-family:Inter;
    font-size:1.05vw;
    transition: ease-in all 0.3s;
}
.productshowcase-card-text-button:hover{
    background:white;
}

.productshowcase-card-text-button-blue:hover{color:rgb(44, 82, 126)}
.productshowcase-card-text-button-green:hover{color:rgb(42, 74, 112)}
.productshowcase-card-text-button-pink:hover{color:rgb(94, 53, 128)}
.productshowcase-card-text-button-purple:hover{color:rgb(94, 53, 128)}

.productshowcase-card-text-button svg{
    display:inline-block;
    font-size:2vw;
    color:inherit;
}

.productshowcase-card-img-part{
    width:45%;
}
.productshowcase-card-img-container{
    overflow:hidden;
    height:100%;
    width:auto;
}

@media screen and (max-width:1280px){
    .productshowcase-header-text{
        top:60%;
    }
}

@media screen and (max-width: 920px) {
    /* Header */
    .productshowcase-header-rectangle{
        width: 185px;
        top: 80%;
    }
    .productshowcase-header-text > h1{
        font-size:110px;
    }
    .productshowcase-header-text > p{
        font-size:20px;
        padding:0 5rem;
    }
    /* Header Card */
    .productshowcase-header-card{
        width:48%;
    }
    /* Card */
    .productshowcase-card{
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
        height:max-content;
        margin-bottom:6rem;
        padding-bottom:2rem;
    }
    .productshowcase-card-img-part{
        display:absolute;
        width:60%;
        margin-top:-50px;
    }
    .productshowcase-card-text-part{
        width:85%;
        text-align:center;
        padding:1rem 0;
        z-index:2;
    }
    .productshowcase-card-text-title{
        font-size:32px;
        font-weight:bolder;
        font-family:Anton;
        margin-bottom:2rem;
        margin-top:-75px;
    }
    
    .productshowcase-card-text-desc{
        font-size:12px;
        font-family:Inter;
    }
    .productshowcase-card-text-button{
        background:transparent;
        border:white 1px solid;
        padding: 0.25rem 0.75rem 0.25rem 0.75rem;
        font-family:Inter;
        font-size:12px;
        transition: ease-in all 0.3s;
    }
    .productshowcase-card-text-button svg{
        font-size:12px;
    }
    
}

@media screen and (max-width: 600px) {
    .productshowcase-header{
        margin-top:-4rem;
    }
    .productshowcase-header-text > h1{
        font-size:90px;
    }
    .productshowcase-header-text > p{
        padding:0 2rem;
    }
    .productshowcase-header-background{
        height:800px;
    }
}

@media screen and (max-width: 390px) {
    .productshowcase-header-text > h1{
        font-size:80px;
    }
    .productshowcase-header-rectangle{
        width:150px;
    }
}
