.teaserJerseyContainer{
    min-height: 100vh;
    background-color: #1E2021;
    padding-top: 6rem;
}

.teaserJerseyContainer .headerTeaser{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
}

.teaserJerseyContainer .headerTeaser .headerPhoto{
    grid-column: 2/12;
    grid-row: 1;
    z-index: 1;
}

.teaserJerseyContainer .headerTeaser .headerPhotoMobile{
    display: none;
}

.teaserJerseyContainer .headerTeaser .headerBackgroundDesktop{
    grid-column: 3/12;
    grid-row: 1;
}

.teaserJerseyContainer .headerTeaser .headerBackgroundMobile{
    display: none;
}

.teaserJerseyContainer .headerTeaser .headerTitle{
    grid-column: 6/12;
    line-height: 124px;
    grid-row: 1;
    align-self: center;
    font-family: Anton;
    font-size: 105px;
    z-index: 2;
}

.teaserJerseyContainer .headerTeaser .headerTitle a{
    font-size: 30px;
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
    border: 1px white solid;
    height: fit-content;
    font-family: 'Inter';
    font-weight: 200;
}

.teaserJerseyContainer .headerTeaser .headerTitle a::after{
    content: "";
    background-image: url('https://storage.googleapis.com/uiesports/assets/icon/arrow_right_button.webp');
    background-size: cover;
    margin-left: 0rem   ;
    display: inline-block;
    background-repeat: no-repeat;
    width: 0rem;
    height: 1.3rem;
    transition: all .3s ease;
}

.teaserJerseyContainer .headerTeaser .headerTitle a:hover::after{
    content: "";
    display: inline-block;
    width: 3rem;
    height: 1.3rem;
    background-size: cover;
    margin-left: 1rem   ;
    background-image: url('https://storage.googleapis.com/uiesports/assets/icon/arrow_right_button.webp');
    background-repeat: no-repeat;
    transition: all .3s ease;
}

.teaserJerseyContainer .headerTeaser .headerTitle span{
    -webkit-text-stroke: 1.85px white;
    color: transparent;
}

.teaserJerseyContainer .aboutSection{
    background-color: #172A52;
    display: grid;
    width: 100%;
    text-align: center;
    height: 483px;
    align-content: center;
    justify-content: center;
    row-gap: 45px;
    padding: 1rem;
}

.teaserJerseyContainer .aboutSection .title{
    font-family: 'Anton';
    font-size: 48px;
}

.teaserJerseyContainer .aboutSection .content{
    max-width: 1251px;
    font-size: 24px;
    font-family: 'Inter';
}

.teaserJerseyContainer .featureSection .bestQuality{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.teaserJerseyContainer .featureSection .bestQuality img, .teaserJerseyContainer .featureSection .nameCustomization img{
    height: 100%;
    object-fit: cover;
}

.teaserJerseyContainer .featureSection .bestQuality .desc{
    background: linear-gradient(100.05deg, #2C527E 0%, #37F3FF 100%);
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 10%;
}

.teaserJerseyContainer .featureSection .bestQuality .desc h3{
    width: 100%;
    font-family: 'Anton';
    font-size: 56px;
    color: #1E2021;
}

.teaserJerseyContainer .featureSection .bestQuality .desc p{
    width: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #333333;
}

.teaserJerseyContainer .featureSection .nameCustomization{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.teaserJerseyContainer .featureSection .nameCustomization .desc{
    background: linear-gradient(100.05deg, #2A4A70 0%, #B8FF45 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 10%;
}

.teaserJerseyContainer .featureSection .nameCustomization .desc h3{
    width: 100%;
    font-family: 'Anton';
    font-size: 56px;
    color: #1E2021;
}

.teaserJerseyContainer .featureSection .nameCustomization .desc p{
    width: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #333333;
}

.teaserJerseyContainer .catalogSection .swiper-slide-active {
    z-index: 1;
    filter: none !important;
    transform: scale(1.5);
}

.teaserJerseyContainer .catalogSection .swiper-slide{
    filter: blur(4px);
    transition: .7s ease;
}

.teaserJerseyContainer .catalogSection .mySwiper{
    padding: 12rem 0 7rem 0;
}

.teaserJerseyContainer .comingSoonSection{
    width: 100%;
    display: flex;
    justify-content: center;
}

.teaserJerseyContainer .comingSoonSection .desktopFooter{
    width: 80%;
    padding: 5rem 0;
}

.teaserJerseyContainer .comingSoonSection .mobileFooter{
    width: 80%;
    display: none;
    padding: 2rem 0;
}

.teaserJerseyContainer .orderSection .desktopOrder{
    padding: 5rem 0;
}


.teaserJerseyContainer .orderSection .mobileOrder{
    display: none;
    padding: 2rem 0;
}

@media only screen and (max-width: 1000px){
    .teaserJerseyContainer .headerTeaser .headerTitle{
        grid-column: 4/12;
    }
}

@media only screen and (max-width: 800px){
    .teaserJerseyContainer{
        margin-top: -6rem;
        padding-top: 7rem;
    }

    .teaserJerseyContainer .headerTeaser{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        column-gap: 0px;
    }

    .teaserJerseyContainer .headerTeaser img{
        width: 100%;
    }

    .teaserJerseyContainer .headerTeaser .headerPhoto{
        display: none;
    }

    .teaserJerseyContainer .headerTeaser .headerTitle{
        grid-column: 3/9;
        line-height: 41px;
        grid-row: 5/10;
        text-align: center;
        letter-spacing: 0.09em;
        font-size: 35px;
    }

    .teaserJerseyContainer .headerTeaser .headerTitle span{
        -webkit-text-stroke: 1px white;
        color: transparent;
    }

    .teaserJerseyContainer .headerTeaser .headerPhotoMobile{
        display: initial;
        grid-column: 3/9;
        grid-row: 1/10;
        z-index: 1;
    }

    .teaserJerseyContainer .headerTeaser .headerBackgroundDesktop{
        display: none;
    }
    
    .teaserJerseyContainer .headerTeaser .headerBackgroundMobile{
        display: initial;
        grid-column: 2/10;
        grid-row: 1/10;
    }

    .teaserJerseyContainer .headerTeaser .headerTitle a{
        font-size: 12px;
        padding: .5rem 1rem;
        color: white;
        text-decoration: none;
        border: 1px white solid;
        height: fit-content;
        font-family: 'Inter';
        font-weight: 200;
    }

    .teaserJerseyContainer .headerTeaser .headerTitle a:hover::after{
        content: "";
        width: 0rem;
        margin-left: 0rem;
    }

    .teaserJerseyContainer .aboutSection{
        row-gap: 11px;
        height: fit-content;
        padding: 2rem 1rem;
    }

    .teaserJerseyContainer .aboutSection .title{
        font-size: 25px;
    }
    
    .teaserJerseyContainer .aboutSection .content{
        font-size: 12px;
    }

    .teaserJerseyContainer .featureSection .bestQuality{
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
    }

    .teaserJerseyContainer .featureSection .nameCustomization{
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 2rem;
    }

    .teaserJerseyContainer .featureSection .bestQuality .desc, .teaserJerseyContainer .featureSection .nameCustomization .desc{
        text-align: center;
        padding: 2rem 5%;
    }

    .teaserJerseyContainer .featureSection .bestQuality .desc h3, .teaserJerseyContainer .featureSection .nameCustomization .desc h3{
        font-size: 25px;
    }
    
    .teaserJerseyContainer .featureSection .bestQuality .desc p, .teaserJerseyContainer .featureSection .nameCustomization .desc p{
        font-size: 12px;
    }

    .teaserJerseyContainer .catalogSection .swiper-slide{
        width: 50%;
    }

    .teaserJerseyContainer .comingSoonSection .desktopFooter{
        display: none;
    }
    
    .teaserJerseyContainer .comingSoonSection .mobileFooter{
        display: inherit;
    }
    
    .teaserJerseyContainer .catalogSection .mySwiper{
        padding: 5rem 0 3rem 0;
    }

    .teaserJerseyContainer .orderSection .desktopOrder{
        display: none;
    }

    .teaserJerseyContainer .orderSection .mobileOrder{
        display: inherit;
    }
}

@media only screen and (max-width: 450px){
    .teaserJerseyContainer .headerTeaser .headerTitle{
        font-size: 24px;
        line-height: 29px;
        grid-column: 1/12;
    }
}